@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  text-align: center;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  font-family: 'Pangolin', cursive;
}

.hero {
  height: 50vh;
  text-align: center;
  margin: 0px auto;
  padding-top: 15%;
  background-color: rgba(38, 70, 83, 1);
}

.hero h1 {
  color: rgb(233, 196, 106);
  font-size: 5rem;
  font-family: 'Stick', sans-serif;
}

.hero img {
  width: 40%;
}

nav {
  background-color: rgba(38, 70, 83, 0.9);
  height: 45px;
}

nav>ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

nav>ul>li {
  display: inline;
  margin: 20px;
}

nav>ul>li>a {
  color: rgba(231, 111, 81, 1);
  font-size: 1.8rem;
  text-decoration: none;
}

nav>ul>li>a:hover {
  color: rgba(231, 111, 81, 0.7);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

main {
  margin-top: 2%;
  margin-bottom: 2%;
}

main h2 {
  font-size: 2.6rem;
  margin: 3rem;
}

.table-section {
  overflow-y: auto;
}

table,
td,
th {
  border: 1px solid black;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 130px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(38, 70, 83, 0.9);
  color: white;
}

table tr:nth-child(even) {
  background-color: #BDBDBD;
}

table tr:hover {
  background-color: #616161;
  color: white;
}

.w-80 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-img {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: -webkit-filter .5s cubic-bezier(.43, .41, .22, .91);
  -webkit-transition: -webkit-filter .5s cubic-bezier(.43, .41, .22, .91);
  transition: filter .5s cubic-bezier(.43, .41, .22, .91);
  transition: filter .5s cubic-bezier(.43, .41, .22, .91), -webkit-filter .5s cubic-bezier(.43, .41, .22, .91);
  min-width: 350px;
  max-width: 350px;
  min-height: 350px;
  max-height: 350px;
}

.card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card-title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-info {
  flex: 1 1 auto;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

.create-branch-section {
  font-family: 'Pangolin', cursive;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  width: 40%;
}

.box {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
  overflow: hidden;
  padding: 3rem;
  text-align: left;
  font-size: 1.5rem;
}

fieldset>label,
fieldset>input {
  display: block;
  padding: 1rem;
}

fieldset>label {
  text-align: left;
}

fieldset>input[type=text] {
  font-size: 1.2rem;
  font-family: 'Pangolin', cursive;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(231, 111, 81, 1);
  text-align: left;
}

fieldset>input[type=text]:focus {
  outline: none;
}

.btn-submit {
  font-size: 2rem;
  font-family: 'Pangolin', cursive;
  width: 100%;
  margin-top: 1rem;
  border: 0;
  background-color: rgba(38, 70, 83, 1);
  color: rgb(233, 196, 106);
  cursor: pointer;
  border-radius: .25rem;
}

.btn-submit:focus {
  outline: none;
}