* {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

nav>ul li {
  display: inline;
}

nav>ul li a {
  text-decoration: none;
  font-size: 1.5rem;
}

table,
td,
th {
  border: 1px solid black;
  padding-top: 8px;
  padding-bottom: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #3F51B5;
  color: white;
}

table tr:nth-child(even) {
  background-color: #BDBDBD;
}

table tr:hover {
  background-color: #616161;
  color: white;
}